<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.pdsys.dao.SysLogMapper" >
  <resultMap id="BaseResultMap" type="com.demo.pdsys.bean.SysLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="remote_address" property="remoteAddress" jdbcType="VARCHAR" />
    <result column="user_agent" property="userAgent" jdbcType="CHAR" />
    <result column="method" property="method" jdbcType="CHAR" />
    <result column="params" property="params" jdbcType="VARCHAR" />
    <result column="exception" property="exception" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="request_url" property="requestUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, remote_address, user_agent, method, params, exception, create_user_id,
    create_time, request_url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from sys_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.demo.pdsys.bean.SysLog" >
    insert into sys_log (id, title, remote_address,
      user_agent, method, params,
      exception, create_user_id, create_time,
      request_url)
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{remoteAddress,jdbcType=VARCHAR},
      #{userAgent,jdbcType=CHAR}, #{method,jdbcType=CHAR}, #{params,jdbcType=VARCHAR},
      #{exception,jdbcType=VARCHAR}, #{createUserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP},
      #{requestUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.pdsys.bean.SysLog" >
    insert into sys_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="remoteAddress != null" >
        remote_address,
      </if>
      <if test="userAgent != null" >
        user_agent,
      </if>
      <if test="method != null" >
        method,
      </if>
      <if test="params != null" >
        params,
      </if>
      <if test="exception != null" >
        exception,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="requestUrl != null" >
        request_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="remoteAddress != null" >
        #{remoteAddress,jdbcType=VARCHAR},
      </if>
      <if test="userAgent != null" >
        #{userAgent,jdbcType=CHAR},
      </if>
      <if test="method != null" >
        #{method,jdbcType=CHAR},
      </if>
      <if test="params != null" >
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="exception != null" >
        #{exception,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="requestUrl != null" >
        #{requestUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.pdsys.bean.SysLog" >
    update sys_log
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="remoteAddress != null" >
        remote_address = #{remoteAddress,jdbcType=VARCHAR},
      </if>
      <if test="userAgent != null" >
        user_agent = #{userAgent,jdbcType=CHAR},
      </if>
      <if test="method != null" >
        method = #{method,jdbcType=CHAR},
      </if>
      <if test="params != null" >
        params = #{params,jdbcType=VARCHAR},
      </if>
      <if test="exception != null" >
        exception = #{exception,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="requestUrl != null" >
        request_url = #{requestUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.pdsys.bean.SysLog" >
    update sys_log
    set title = #{title,jdbcType=VARCHAR},
      remote_address = #{remoteAddress,jdbcType=VARCHAR},
      user_agent = #{userAgent,jdbcType=CHAR},
      method = #{method,jdbcType=CHAR},
      params = #{params,jdbcType=VARCHAR},
      exception = #{exception,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      request_url = #{requestUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
